<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
  <meta charset="UTF-8">
  <title>C19TC - BOOK DETAILS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">C19TC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/users}">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/tests}">Tests</a>
          </li>
          <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SECRETARY')">
            <a class="nav-link" th:href="@{/vaccine}">Vaccine</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" th:href="@{/book}">Book</a>
          </li>
        </ul>
        <form class="d-flex" th:action="@{/logout}" method="get">
          <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="row">
    <h3> Booking Details</h3>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col" sec:authorize="!hasAnyRole('ROLE_USER')">First Name</th>
        <th scope="col" sec:authorize="!hasAnyRole('ROLE_USER')">Last Name</th>
        <th scope="col" sec:authorize="!hasAnyRole('ROLE_USER')">Username</th>
        <th scope="col">Location</th>
        <th scope="col">Completed</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>[[${booking.vaccineDate}]]</td>
        <td sec:authorize="!hasAnyRole('ROLE_USER')">[[${booking.user.firstName}]]</td>
        <td sec:authorize="!hasAnyRole('ROLE_USER')">[[${booking.user.lastName}]]</td>
        <td sec:authorize="!hasAnyRole('ROLE_USER')">[[${booking.user.username}]]</td>
        <td>[[${booking.user.location}]]</td>
        <td>[[${booking.completed}]]</td>
      </tr>
      </tbody>
    </table>

    <hr>

    <h3> Test Details</h3>

    <div th:if="${param.testUpdated}">
      <div class="logged-out alert-success">
        Test updated successfully
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Vaccinated</th>
        <th scope="col">Details</th>
        <th scope="col" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SECRETARY')">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>[[${booking.vaccineDate}]]</td>
        <td>[[${booking.test.status}]]</td>
        <td>[[${booking.test.vaccinated}]]</td>
        <td>[[${booking.test.details}]]</td>
        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SECRETARY')">
          <a th:href="@{/editTest/{bookingId} (bookingId=${booking.id})}">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

</body>
</html>