<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>C19TC - BOOKING</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">C19TC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tests}">Tests</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SECRETARY')">
                        <a class="nav-link" th:href="@{/vaccine}">Vaccine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book}">Book</a>
                    </li>
                </ul>
                <form class="d-flex" th:action="@{/logout}" method="get">
                    <button class="btn btn-outline-success" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        <div>
            <div th:if="${param.booked}">
                <div class="logged-out alert-success">
                    You have successfully booked for Covid-19 test
                </div>
            </div>

            <div th:if="${errorMessage != null}">
                <div class="logged-out alert-danger">
                    [[${errorMessage}]]
                </div>
            </div>
        </div>

        <form th:action="@{/book}" th:object="${booking}" method="post">
            <div class="mb-3">
                <label for="vaccineDate" class="form-label">Date</label>
                <input type="date" class="form-control" id="vaccineDate" required th:field="*{vaccineDate}"
                       name="vaccineDate" placeholder="Date">
            </div>

            <div class="mb-3">
                <label for="time" class="form-label">Time</label>
                <select class="select" name="time" id="time" th:field="*{time}">
                    <option th:if="${booking.time != '08:00:00'}" value="08:00:00">8 AM</option>
                    <option th:if="${booking.time != '11:00:00'}" value="11:00:00">11 AM</option>
                    <option th:if="${booking.time != '14:00:00'}" value="14:00:00">2 PM</option>
                    <option th:if="${booking.time != null}" th:value="${booking.time}">[[${booking.time}]]</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-sm btn-primary mb-3">Book</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>